[
	{
		rabbit,
			[
				{
					auth_backends, [rabbit_pgauth_worker]
				}
			]
	},
	{
	  rabbitmq_pg_auth,
		[
			{ postgres_host, "localhost" },
			{ postgres_user, "atul" },
			{ postgres_passwd, "atul123" },
			{ postgres_db, "atul" },
			{ postgres_query_timeout, 4000 },
			{ predef_user_name, "rabbi" },
			{ predef_user_password, "ibbar" }
		]
	}
].


